<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>Minehut Live Console</title>
</head>
<body>
    <header>
        <div class="sad"></div>
        <span class="logo">Minehut Live Console</span>
        <div class="ussr"></div>
    </header>
  css stolen by sheep 😳 😎
    <form action="/login" method="get">
        EMAIL: <input type="text" name="email" id="txt">
        PASSWORD: <input type="text" name="pass" id="txt2">
        SERVER NAME: <input type="text" name="server" id="txt3">
        <button type="submit" class="ripple" id="btn">Login</button>
    </form>
</body>
</html>
